<div id="nav-wrapper">
  <nav id="main-navigation" class="centered-text">
    <ul class="unbulleted-list">
      <li>
        <a href="#presentation-box" class="icon-wrapper">
          <i class="fa fa-bomb fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="#keep-in-touch-box" class="icon-wrapper">
          <i class="fa fa-users fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="#favorites-cities-box" class="icon-wrapper">
          <i class="fa fa-cubes fa-2x"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
