<!DOCTYPE html>
<html>
<head>
  <title>HairBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,300"><!-- TO BE RECODED WITH RAILS HELPERS -->
  <!-- <link rel="stylesheet" href="style.css"> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
